/* base.css */
body {
    font-family: var(--fonte-principal);
    color: #333333;
}

main {
    padding:2.5rem 2.5rem 2.5rem;
    max-width: 1360px;
    margin: 0 auto;
}

@media (max-width: 1280px) {
    main {
        padding: 0.625rem;
    }
}

.btn{
    font-size: 1.10rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    font-weight: 400;
    padding: 10px 20px;
    transition: background-color 0.3s, border 0.3s;
    color: #ffffff;
}

.btn-outline{
    background-color:transparent ;
    border:2px solid #ffffff; 
    line-height: 23px;
}

.btn-filled{
    background-color:#ffffff ;
    border:2px solid #ffffff; 
    color:#6329a2 ;
    margin-left:1rem ;
}

.btn:hover{
    background-color: #7c3aed;
    color: #ffffff;
    border-color: #7c3aed; 
}


